@using System.ComponentModel.DataAnnotations

<button class="primary-button" type="button" @onclick="HandleClick">
    @ButtonText
</button>

@code {
    [Parameter]
    public string ButtonText { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

    private async Task HandleClick()
    {
        await OnClick.InvokeAsync(null);
    }
}
