.tag {
    font-size: 1.1rem;
    color: white;
    padding: 0.2rem;
    border-radius: 4px;
}

.teal {
    background-color: #008080;
}

.blue {
    background-color: #007bff;
}

.red {
    background-color: #ae2b2b;
}

.green {
    background-color: #28a745;
}