@page "/"

@using Plated_Blazor.Components.Atoms
@using Plated_Blazor.Components.Molecules

<PageTitle>Home</PageTitle>

<h1>Plated</h1>

<button>Add Recipe</button>
<PrimaryButton ButtonText="Add Racipe" OnClick="AddRecipe"/>

<div>
    <RecipeCard />
    <RecipeCard />
</div>

@code{
    private void AddRecipe()
    {
        // Logic to add a new recipe
    }
}
