@page "/"
@rendermode InteractiveServer

@inject NavigationManager NavigationManager

@using Plated_Blazor.Client.Components.Share.Atoms
@using Plated_Blazor.Components.Molecules

<PageTitle>Home</PageTitle>

<div class="main">
    <div>

        <h1 class="title">Plated</h1>

        <PrimaryButton ButtonText="Add Racipe" OnClick="AddRecipePage" />

        <div class="card-list">
            <RecipeCard />
            <RecipeCard />
            <RecipeCard />
            <RecipeCard />
            <RecipeCard />
        </div>

    </div>
</div>

@code {
    private void AddRecipePage()
    {
        NavigationManager.NavigateTo("/add-recipe");
    }
}
