@page "/"

@using Plated_Blazor.Components.Atoms
@using Plated_Blazor.Components.Molecules

<PageTitle>Home</PageTitle>

<div class="main">
    <div>

        <h1>Plated</h1>

        <PrimaryButton ButtonText="Add Racipe" OnClick="AddRecipe" />

        <div class="flex-box">
            <RecipeCard />
            <RecipeCard />
            <RecipeCard />
            <RecipeCard />
            <RecipeCard />
        </div>
    </div>
</div>

@code {
    private void AddRecipe()
    {
        // Logic to add a new recipe
    }
}
