@using Plated_Blazor.Components.Atoms;

<div class="card">
    <img src="https://picsum.photos/290/130"
         alt="Recipe Image" />
    <h2 class="title">Spaghetti Carbonara</h2>
    <Tag TagText="Pasta" TagColor="teal" />
    <ul class="ingredients">
        <li>Spaghetti</li>
        <li>Eggs</li>
        <li>Pancetta</li>
        <li>Parmesan Cheese</li>
        <li>Black Pepper</li>
    </ul>
</div>

@code {

}
